PORT=5000
MONGODB_URI=mongodb://engineerabuzarahmed:ahmed560@ac-yddxski-shard-00-00.0cf2z7t.mongodb.net:27017,ac-yddxski-shard-00-01.0cf2z7t.mongodb.net:27017,ac-yddxski-shard-00-02.0cf2z7t.mongodb.net:27017/?ssl=true&replicaSet=atlas-o2ch8m-shard-0&authSource=admin&appName=Points
BACKEND_ENCRYPTION_KEY=your-backend-aes-secret-key-32chars
